@model Praise.Models.AccountInfo
@using System.Data;
@{
    ViewBag.Title = "MakePraise";
}

<h2>Make Praise</h2>
@using (Html.BeginForm())
{
    <div><label>To:</label>@Html.DropDownListFor(m => m.Name, new List(new ))</div>
    <div><label>Reason:</label>@Html.EditorFor(m => m.Desc)</div>
    <button type="submit">Submit</button>
}


